.wrapper {
    background-color: whitesmoke;
    padding-top: 3%;
}

.container {
    width: 80%;
    margin: 0 auto;
    min-height: 70vh;

    h1 {
        font-family: 'Carter One', cursive;
        text-align: center;
        font-size: 50px;
    }
}

.row {
    text-align: center;
}

.form-inline {
    justify-content: center;
    margin: 5%;
}

.form-inline .form-control {
    width: 50%;
    min-width: 250px;
}

.card-pokemon {
    margin: 10%;
    border: 1px lightgray solid;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 5%;
    
    p {
        font-family: 'Carter One', cursive;
        font-size: 18px;
    }
}

.no-results {
    height: 40vh;
    width: 100%;
}

@media (max-width: 767.98px) {
    .navbar-wagon-brand img {
        height: 35px !important;
    }
}