<div class="navbar-wagon">
  <a href="/" class="navbar-wagon-brand">
    <img src="<%= image_path 'pokeball.png' %>" alt="logo"> 
  </a>

  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="https://pokeapi.co/" class="navbar-wagon-item navbar-wagon-link">Poke API</a>
    <a href="https://pokeapi.co/about/" class="navbar-wagon-item navbar-wagon-link">About</a>
    <a href="https://pokeapi.co/docsv2/" class="navbar-wagon-item navbar-wagon-link">Documentation</a> 
  </div>
</div>