.btn-pagination {
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: bold;
    background: CADETBLUE;
    transition: background 0.3s ease;
    margin: 5%;
  }
  .btn-pagination:hover {
    opacity: 1;
    background: #3ac162;
    text-decoration: none;
    color: white;
  }
