<h1>Pokemons</h1>

<% @pokemons.each do |pokemon| %>
    <p><%= pokemon.number  %> - <%= pokemon.name.capitalize %></p> 
    <p>type: <%= pokemon.type_1 %></p>
    <img src="<%= pokemon.image %>">

<% end %>